.about-section {
    height: 100vh;
}

.toolbar {
    justify-content: space-between;
    align-items: center;
}

.nav-btns {
    display: flex;
    justify-content: space-evenly;
}

.nav-btns div {
    margin: 1rem;
}

.section-header {
    padding: 3rem 4rem
}

.bot-container {
    position: absolute;
    background-color: transparent;
    bottom: 0;
    right: 0;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.bot-container input:focus {
    outline: none;
}

.react-chatbot-kit-chat-container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 100%;
}